
<h1>Oferta de disciplinas</h1>
<h2>Seja bem vindo {{aluno.nome}}</h2>

<div class="row">
    <div class="column">
        <h2>Disciplinas matriculadas</h2>
        <table id="lista">
            <thead>
                <tr>
                    <th>Disciplina</th>
                    <th>Nome</th>
                    <th>Dia</th>
                    <th>Começo</th>
                    <th>fim</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let disciplina of aluno.listaDeMatriculas">
                    <td>{{disciplina.nomeDisciplina}}</td>
                    <td>{{disciplina.nomeProfessor}}</td>
                    <td>{{disciplina.dia}}</td>
                    <td>{{disciplina.horarioDocomeco}}</td>
                    <td>{{disciplina.horarioDoFim}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="column">
        <h2>Disciplinas disponíveis</h2>
        <table id="lista">
            <thead>
                <tr>
                    <th>Disciplina</th>
                    <th>Nome</th>
                    <th>Dia</th>
                    <th>Começo</th>
                    <th>fim</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let disciplina of disciplinas;index as i">
                    <td>{{disciplina.nomeDisciplina}}</td>
                    <td>{{disciplina.nomeProfessor}}</td>
                    <td>{{disciplina.dia}}</td>
                    <td>{{disciplina.horarioDocomeco}}</td>
                    <td>{{disciplina.horarioDoFim}}</td>
                    <td><button (click)="matricular(i)">Matricular</button></td>
                </tr>
            </tbody>
        </table>
    </div>
  </div>