
<h1>Oferta de disciplinas</h1>
<h2>Seja bem vindo {{nomeAluno}}</h2>
<!--ul *ngFor="let d of num">
    <li>
        d
    </li>
</ul>

   <ul *ngFor="let d of num">
    <li>
        d
    </li>
</ul-->

<ul>
    <li *ngFor="let d of num">1</li>
   
</ul>

<ul>
   <li *ngFor="let d of num">3</li>
   
</ul>

<!--button (click)="getListaDisciplinas()">Obter disciplinas</button>
<p>{{disciplinas.length}}</p-->
<!--ul *ngFor="let d of disciplinas">
    <li>
        <p>Nome da disciplina: {{d.nomeDisciplina}}</p>
        <p>Nome do Professor: {{d.nomeProfessor}}</p>
        <p>Horários: {{d.horarios}}</p>
        <p>Vagas: {{d.capacidade}}</p>
        <p>Vagas Preenchidas: {{d.totalDeAlunos}}</p>
        <td><button  >Selecionar</button></td>
    </li>
</ul-->